@media only screen and (min-width: 900px) {
	/*
	==============================================
	body desktop
	==============================================
	*/

	.slide-content {
		height: 86vh;
		font-size: 4rem;
		color: white;
	}

	.slide {
		position: relative;
		display: flex;
		justify-content: center;
		opacity: 1;
	}

	.slide1 {
		background-image: url(../images/FS_kristoffer.jpg);
		margin-top: 14vh;
	}

	.slide2 {
		background-image: url(../images/folderbild.jpg);
		margin-top: -0.5vh
	}

	.slide3 {
		background-image: url(../images/Interior_TerrngBil_Jimmy.jpg);
	}

	.container {
		position: relative;
	}

	.buttons {
		display: none;
	}

	.buttons > a {
		display: none;
	}

	.start-header-container {
		position: static;
		margin-left: 36rem;
		display: flex;
		width: 32rem;
		justify-content: flex-end;
		align-items: center;
	}

	@media only screen and (max-width: 1100px) {
		.start-header-container {
			margin-left: 24rem;
		}
	}

	.start-header {
		color: #1E2B54;
		text-align: left;
		font-size: 65px;
		font-family: 'AktivGrotesk-Light';
		font-weight: 300;
		animation: 1.5s ease-in 0s easeIn;
	}
}
