/*
==============================================
Forms
==============================================
*/


.form {
	background-color: rgba(255,255,255, 0.8);
	font-weight: 300;
	font-size: 18px;
	max-width: 75%;
	margin: 0 auto;
	padding: 20px;
	color: black;
}

@media only screen and (min-width: 480px) { /* Larger Phone Mode */
	.form {
		max-width: 70%;
	}
}

@media only screen and (min-width: 900px) { /* Desktop Mode */
	.form {
		padding: 30px 30px;
		max-width: 500px;
	}

	.form > p {
		max-width: 360px;
	}
}

/* Mobile mode  */
.form h1 {
	font-weight: 500;
	font-size: 100%;
}

.form input,
.form button {
	width: 85%;
}

.form input {
	border: 1px solid #1E2B54;
	margin: 7px auto;
	display: block;
	padding: 10px;
}

.form input::placeholder {
	font-size: 12px;
	color: #aab3ba;
}

@media only screen and (min-width: 900px) { /* Desktop Mode */
	.form input {
		width: 360px;
		height: 50px;
		padding: 16px;
	}
	.form input::placeholder {
		font-size: 24px;
	}
}

/* Mobile mode */
.form button {
	background-color: #1E2B54;
	padding: 12px;
	color: white;
	border: none;
	cursor: pointer;
}

@media only screen and (min-width: 900px) { /* Desktop Mode */
	.form button {
		padding: 16px;
		width: 70%;
	}
}


/*
==============================================
Download Form
==============================================
*/

.form.download-form h1 {
	margin: 25px 0 10px;
}

.form.download-form img {
	display: none;
}

@media only screen and (min-width: 900px) { /* Desktop Mode */
	.form.download-form img {
		margin: -30px auto 0;
		width: 360px;
		display: inline-block;
	}
}

/* Mobile mode */
.form.download-form a button {
	background-color: #1E2B54;
	padding: 12px;
	color: white;
	white-space: nowrap;
	width: 100%;
}

@media only screen and (min-width: 900px) { /*Desktop Mode */
	.form.download-form a button {
		width: 70%;
		padding: 16px;
	}
}
