/*
==============================================
Form section mobile
==============================================
*/
	.download-form {
		width: 55vw;
		height: 40vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.download-form a {
		color: inherit;
	}

	.download-form img {
		background-repeat: no-repeat;
		max-width:100%;
		max-height:100%;
		margin-top: 0;
		height: 30vh;
		width: 55vw;
	}

	.button-container {
		background-color: white;
		margin-top: 0;
		width: 55vw;
		padding-bottom: 1rem;
	}

.form {
	width: 55vw;
	height: 35vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.form h1 {
	color: black !important;
	font-size: 1rem !important;
	margin-bottom: 0.2rem;
	width: 45vw !important;
}

.form input {
	background-color: #FFF;
	border: 1px solid darkgrey;
	width: 45vw;
	margin-bottom: 0.3rem;
	padding: 0.5rem;
}
.form button, .download-form button {
	color: white;
	background-color: #1E2B54;
	height: 4vh;
	border: none;
	width: 45vw;
	font-size: 0.6rem;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-size: 0.6rem;
	opacity: 0.4;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 0.6rem;
	opacity: 0.4;
}

::-ms-input-placeholder { /* Microsoft Edge */
	font-size: 0.5rem;
	opacity: 0.4;
}
