/*
==============================================
Forms
==============================================
*/

.form {
	background-color: rgba(255,255,255, 0.8);
	font-weight: 300;
	font-size: 24px;
	max-width: 90%;
	margin: 0 auto;
	padding: 20px;
	color: black;
}

@media only screen and (min-width: 480px) { /* Larger Phone Mode */
	.form {
		max-width: 70%;
	}
}

@media only screen and (min-width: 900px) { /* Desktop Mode */
	.form {
		padding: 30px 20px;
		max-width: 550px;
	}
}

.form h1 {
	font-weight: 500;
	font-size: 100%;
}

.form input,
.form button {
	width: 85%;
}

.form input {
	border: 1px solid #1E2B54;
	margin: 10px auto;
	display: block;
	padding: 10px;
}

@media only screen and (min-width: 900px) { /* Desktop Mode */
	.form input {
		width: 400px;
		padding: 20px;
	}
}
.form input::placeholder {
	font-size: 24px;
	color: #aab3ba;
}

@media only screen and (min-width: 900px) { /* Desktop Mode */
	.form input::placeholder {
		font-size: 22px;
	}
}

.form button {
	background-color: #1E2B54;
	padding: 12px;
	color: white;
	border: none;
	cursor: pointer;
}

@media only screen and (min-width: 900px) { /* Desktop Mode */
	.form button {
		padding: 16px;
		width: 300px;
	}
}


/*
==============================================
Download Form
==============================================
*/

.form.download-form h1 {
	margin: 25px 0 10px;
}

.form.download-form img {
	display: none;
}

@media only screen and (min-width: 900px) { /* Desktop Mode */
	.form.download-form img {
		margin: -30px auto 0;
		width: 90%;
		display: inline-block;
	}
}
.form.download-form button {
	background-color: #1E2B54;
	padding: 12px;
	color: white;
	white-space: nowrap;
}

@media only screen and (min-width: 900px) { /*Desktop Mode */
	.form.download-form button {
		width: 60%;
		padding: 20px;
	}
}
