@media only screen and (min-width: 900px) {
	/*
	==============================================
	Header desktop
	==============================================
	*/

	.nav-container {
		justify-content: space-between;
		width: 100vw;
		height: 14vh;
	}

	.nav-container a:hover {
		transition: 0.3s ease;
		color: #1E2B54;
		border-bottom: 12px solid #1E2B54;
	}

	.desk-logo-container {
		display: flex;
		justify-content: flex-start;
		width: auto;
		margin: 1.2vh 0 0 3vw;
	}

	.desk-logo-img {
		width: 25vh;
	}

	.desk-nav {
		display: flex;
		align-items: center;
	}

	.email-desk a{
		font-size: 1.5rem;
	}

	.catalogue-desk a{
		font-size: 1.5rem;
		letter-spacing: 1.1px;
		margin-left: 6vw;
	}

	.lang-sv-desk {
		border-right: 1px solid #000;
		padding: .05vh 0;
	}

	.lang-sv-desk a {
		font-family: 'AktivGrotesk-Medium';
		font-size: 1.25rem;
		padding: 0 .6vw 0 0;
		margin-left:6.8vw;
	}

	.lang-en-desk  a{
		font-family: 'AktivGrotesk-Medium';
		font-size: 1.25rem;
		padding: 0 0 0 .6vw;
		margin: 0 6.56vw 0 0;
	}

	.active {
		border-bottom: 12px solid #202B51;
		transition: 0.3s ease;
	}
}
