
/*
==============================================
Fontface
==============================================
*/

@font-face {
font-family: 'AktivGrotesk';
src: url("../fonts/AktivGrotesk/AktivGrotesk.otf");
}

@font-face {
	font-family: 'AktivGrotesk-Light';
	src: url("../fonts/AktivGrotesk/AktivGrotesk-Light.otf");
}

@font-face {
	font-family: 'AktivGrotesk-Medium';
	src: url("../fonts/AktivGrotesk/AktivGrotesk-Medium.otf");
}
@font-face {
	font-family: 'AktivGrotesk-Regular';
	src: url("../fonts/AktivGrotesk/AktivGrotesk-Regular.otf");
}

/*
==============================================
General settings
==============================================
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'AktivGrotesk-Regular';*/
}

body {
	font-size: 1.2rem;
	letter-spacing: .5px;
}

a {
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
}

li {
	list-style: none;
}

footer {
	display: none;
}
