/*
==============================================
Media Queries
==============================================
*/

/* Mobile view landscape  */
@media only screen and (max-width: 850px) and (orientation: landscape) {

	.nav-container {
		height: 15vh;
	}

	.burger-icon {
		margin: -5px 5px 0 0;
	}
}

/* desktop view */
@media only screen and (min-width: 900px) {

	.mobile-menu {
		display: none;
	}

	.burger-icon {
		display: none;
	}

	.burger-icon {
		display: none;
	}
	.mob-logo-container {
		display: none;
	}
	.download-form img {
		display: flex;
	}
	.download-form h1 {
		font-size: 2rem;
		color: black;
		margin-bottom: 0;
		margin-top: 2rem;
	}
	.form input {
		background-color: rgba(255,255,255, 0.8);
		border: 1px solid darkgrey;
		font-size: x-large;
		padding: 0.4rem;
	}

	/*
	==============================================
	Header
	==============================================
	*/

	.nav-container {
		justify-content: space-between;
		width: 100vw;
		height: 14vh;
	}

	.nav-container a:hover {
		transition: 0.3s ease;
		color: #1E2B54;
		border-bottom: 12px solid #1E2B54;
	}

	.desk-logo-container {
		display: flex;
		justify-content: flex-start;
		width: auto;
		margin: 1.2vh 0 0 3vw;
	}

	.desk-logo-img {
		width: 25vh;
	}

	.desk-nav {
		display: flex;
		align-items: center;
	}

	.email-desk a{
		font-size: 1.5rem;
	}

	.catalogue-desk a{
		font-size: 1.5rem;
		letter-spacing: 1.1px;
		margin-left: 6vw;
	}

	.lang-sv-desk {
		border-right: 1px solid #000;
		padding: .05vh 0;
	}

	.lang-sv-desk a {
		font-family: 'AktivGrotesk-Medium';
		font-size: 1.25rem;
		padding: 0 .6vw 0 0;
		margin-left:6.8vw;
	}

	.lang-en-desk  a{
		font-family: 'AktivGrotesk-Medium';
		font-size: 1.25rem;
		padding: 0 0 4.7vh  .6vw;
		margin: 0 6.56vw 0 0;
	}

	.active {
		border-bottom: 12px solid #202B51;
		transition: 0.3s ease;
	}

	/*
	==============================================
	body
	==============================================
	*/

	.slide1 {
		background-image: url(../images/FS_kristoffer.jpg);
	}

	.slide2 {
		background-image: url(../images/folderbild.jpg);
	}

	.slide3 {
		background-image: url(../images/TeaserShot.jpg);
	}

	.container {
		position: relative;
	}

	.buttons {
		display: none;
	}

	.buttons > a {
		display: none;
	}
	.start-header-container {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		height: 100%;
		align-items: center;
	}
	.start-header {
		color: #1E2B54;
		display: flex;
		text-align: left;
		height: 1rem ;
		font-size: 5rem;
		font-family: 'AktivGrotesk-Light';
		font-weight: lighter;
		margin-top: -16vh;
		margin-right: 5vw;
	}

	.slide-content {
		width: 100%;
		font-size: 4rem;
		color: white;
		padding-bottom: 1.5rem;
	}

	.slide-content p {
		width: 45vw;
		font-size: 1.4rem;
		color: white;
		line-height: normal;
	}

	.slide {
		position: relative;
		display: flex;
		justify-content: center;
		opacity: 1;
		transform: scale(1);
		transition: opacity 0s, transform 0s;
	}

	/*
	==============================================
	Footer
	==============================================
	*/

	footer {
		position: absolute;
		display: flex;
		justify-content: space-between;
		height: 17vh;
		width: 100%;
		border-top: 1px solid lightgrey;
		font-size: 	1.15rem;
		letter-spacing: 0.69px;
	}

	.foot-left-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 21vw;
		margin-left: 3.5vw;
	}

	.foot-sm-container div{
		margin: 2px;
	}

	.foot-about-container div {
		margin: 2px;
	}

	.foot-right-container{
		width: 10vw;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: 3.5vw;

	}

	.foot-logo img {
		margin-top: 2.5vh;
		width: 9.2vw;
	}

	footer a:hover {
		color: #D0D7DC;
	}

	/*
	==============================================
	Form section desktop
	==============================================
	*/

	.download-form {
		background-color: rgba(255,255,255, 0.8);
		height: 55vh;
		width: 30vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.download-form a {
		color: inherit;
	}

	.download-form img {
		background-repeat: no-repeat;
		max-width:85%;
		max-height:100%;
		margin-top: 0;
		height: 40vh;
	}

	.form {
		width: 30vw;
		height: 55vh;
		background-color: rgba(255,255,255, 0.8);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.form p {
		padding-top: 2rem;
		color: black;
		max-width: 25vw;
		font-family: 'AktivGrotesk-Light';
	}

	.form h1 {
		color: black;
		font-size: 1.5rem;
		margin-top: 2rem;
	}

	.form input {
		background-color: #FFF;
		border: 2px solid lightgrey;
		width: 25vw;
		margin-bottom: 1rem;
		padding: 1rem;
	}

	.form button, .download-form button {
		color: white;
		background-color: #202B51;
		height: 6vh;
		border: none;
		width: 23vw;
		font-size: 1rem;
		margin-bottom: 2rem;
	}

	.form button:hover, .download-form button:hover {
		border: 1px solid white;
		cursor: pointer;
	}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		font-size: 1rem;
		opacity: 0.4;
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		font-size: 1rem;
		opacity: 0.4;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
		font-size: 1rem;
		opacity: 0.4;
	}

	@keyframes easeIn {
		0% {
			opacity: 0;
			transform: translateY(-100%);
		}
		100% {
			transform: translateY(0);
		}
	}

	.start-header {
		animation: 1s ease-in 0s 1 easeIn;
	}
}
