/*
==============================================
Media Queries
==============================================
*/

/* Mobile view landscape  */
@media only screen and (max-width: 850px) and (orientation: landscape) {

	.nav-container {
		height: 15vh;
	}

	.burger-icon {
		margin: -5px 5px 0 0;
	}
}

/* desktop view */
@media only screen and (min-width: 900px) {

	.mobile-menu {
		display: none;
	}

	.burger-icon {
		display: none;
	}

	.burger-icon {
		display: none;
	}
	.mob-logo-container {
		display: none;
	}

	/*
	==============================================
	Header
	==============================================
	*/

	.nav-container {
		justify-content: space-between;
		width: 100vw;
		height: 14vh;
	}

	.nav-container a:hover {
		transition: 0.3s ease;
		color: #1E2B54;
		border-bottom: 12px solid #1E2B54;
	}

	.desk-logo-container {
		display: flex;
		justify-content: flex-start;
		width: auto;
		margin: 1.2vh 0 0 3vw;
	}

	.desk-logo-img {
		width: 25vh;
	}

	.desk-nav {
		display: flex;
		align-items: center;
	}

	.email-desk a{
		font-size: 1.5rem;
	}

	.catalogue-desk a{
		font-size: 1.5rem;
		letter-spacing: 1.1px;
		margin-left: 6vw;
	}

	.lang-sv-desk {
		border-right: 1px solid #000;
		padding: .05vh 0;
	}

	.lang-sv-desk a {
		font-family: 'AktivGrotesk-Medium';
		font-size: 1.25rem;
		padding: 0 .6vw 0 0;
		margin-left:6.8vw;
	}

	.lang-en-desk  a{
		font-family: 'AktivGrotesk-Medium';
		font-size: 1.25rem;
		padding: 0 0 0 .6vw;
		margin: 0 6.56vw 0 0;
	}

	.active {
		border-bottom: 12px solid #202B51;
		transition: 0.3s ease;
	}

	/*
	==============================================
	body
	==============================================
	*/

	.slide-content {
		height: 86vh;
		font-size: 4rem;
		color: white;
	}

	.slide {
		position: relative;
		display: flex;
		justify-content: center;
		opacity: 1;
	}

	.slide1 {
		background-image: url(../images/FS_kristoffer.jpg);
		margin-top: 14vh;
	}

	.slide2 {
		background-image: url(../images/folderbild.jpg);
		margin-top: -0.5vh
	}

	.slide3 {
		background-image: url(../images/Interior_TerrngBil_Jimmy.jpg);
		background-size: 100%;
	}

	.container {
		position: relative;
	}

	.buttons {
		display: none;
	}

	.buttons > a {
		display: none;
	}

	.start-header-container {
		position: relative;
		margin-left: 36rem;
		margin-bottom: 20rem;
		display: flex;
		width: 32rem;
		justify-content: flex-end;
		align-items: center;
	}

	@media only screen and (max-width: 1100px) {
		.start-header-container {
			margin-left: 24rem;
		}
	}

	.start-header {
		color: #1E2B54;
		text-align: left;
		font-size: 65px;
		font-family: 'AktivGrotesk-Light';
		font-weight: 300;
		animation: 1.5s ease-in 0s easeIn;
	}

	/*
	==============================================
	Footer
	==============================================
	*/

	footer {
		position: absolute;
		display: flex;
		justify-content: space-between;
		height: 17vh;
		width: 100%;
		border-top: 1px solid lightgrey;
		font-size: 	1.15rem;
		letter-spacing: 0.69px;
	}

	.foot-left-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 21vw;
		margin-left: 3.5vw;
	}

	.foot-sm-container div {
		margin: 2px;
	}

	.foot-about-container div {
		margin: 2px;
	}

	.foot-right-container {
		width: 10vw;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: 3.5vw;

	}

	.foot-logo img {
		margin-top: 2.5vh;
		width: 9.2vw;
	}

	footer a:hover {
		color: #D0D7DC;
	}
}

@keyframes easeIn {
	0% {
		opacity: 0;
		transform: translateY(-30%);
	}
	100% {
		transform: translateY(0);
	}
}
