/*
==============================================
Media Queries
==============================================
*/

/* Mobile view landscape  */
@media only screen and (max-width: 850px) and (orientation: landscape) {

	.nav-container {
		height: 15vh;
	}

	.burger-icon {
		margin: -5px 5px 0 0;
	}
}

/* Larger phone mode */
@media only screen and (min-height: 720px) {
	.start-header-container {
		top: 8rem;
	}
}

/* Tablets view */
@media only screen and (min-width: 590px)  and (max-width: 900px) {
		.start-header-container {
			position: static;
			margin-left: 18rem;
			margin-bottom: 10rem;
		}
		.start-header {
			font-size: 50px;
		}
}

/* desktop view */
@media only screen and (min-width: 900px) {

	.mobile-menu {
		display: none;
	}

	.burger-icon {
		display: none;
	}

	.burger-icon {
		display: none;
	}
	.mob-logo-container {
		display: none;
	}
}
