/*
==============================================
Mobile body
==============================================
*/

.container {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.slide {
	display: none;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	top: 0;
}

.start-header-container {
	position: absolute;
	top: 6.5rem;
	left: 1rem;
	text-align: left;
	width: 18rem;
}

.start-header-container > h1 {
	margin: 0;
}

.start-header {
	font-family: 'AktivGrotesk-Light';
	font-weight: 300;
	font-size: 2.5rem;
	animation: 1s ease-in 0s 1 easeIn;
	color: #1E2B54;
}

@keyframes easeIn {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

.active-image {
	display: flex;
	justify-content: center;
	align-items: center;
	position: static;
	margin-top: 12.5vh;
}

.slide1 {
	background-image: url(../images/mobile/bild1mobile.jpg);
}

.slide2 {
	background-image: url(../images/mobile/bild2mobile.jpg);
}

.slide3 {
	background-image: url(../images/Interior_TerrngBil_Jimmy.jpg);
}

.slide-content {
	height: 87.5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.buttons {
	position: absolute;
	bottom: 0;
	margin-bottom: 35px;
	left: 50%;
	margin-left: -153px;
	/* width: 250px; */
	display: flex;
	flex-direction: row;
	align-items: center;
}

.buttons > a {
	width: 100px;
	height: 7px;
	display: block;
	margin: 0 2px;
	text-decoration: none;
	background-color: #FFFFFF;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.buttons > a:hover {
	background-color: #1E2B54;
}

.buttons > .active-button {
	background-color: #1E2B54;
}
