/*
==============================================
Navigation bar
==============================================
*/

.desk-logo-container {
	display: none;
}

.mob-logo-container {
	display: flex;
}
.mob-logo-img {
	width: 25vh;
	padding-bottom: 8.3vh;
}

.nav-container {
	position: fixed;
	display: flex;
	flex-direction: row;
	background-color: white;
	top: 0;
	width: 100%;
	z-index: 2;
}

.desk-nav {
	display: none;
}
