/*
==============================================
Navigation bar
==============================================
*/

.nav-container {
	position: fixed;
	display: flex;
	flex-direction: row;
	background-color: white;
	top: 0;
	width: 100%;
	z-index: 2;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-self: center;
}

.logo-wrapper a {
	position: relative;
	z-index: 10;
}

.logo-img {
	width: 25vh;
}

.desk-nav {
	display: none;
}
