/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote:after,
q:before, q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==============================================
Costum styles
==============================================
*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2rem;
  letter-spacing: .5px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

a:hover {
  color: tomato;
}

/*
==============================================
Desktop navigation
==============================================
*/

.navContainer {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 2;
}

.desktopNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  padding: 5px 8px 15px;
}

.desktopNav a {
  font-size: 20px;
}

.button  {
  padding: 20px 0 0 10px;
}

.email {
  flex-grow: .1;
}

.catalogue {
  flex-grow: .1;
}

.langSV {
  margin-top: auto;
  padding: 10px;
  border-right: 1px solid black
}

.langENG {
  margin-top: auto;
  padding: 10px;
  border-left: 1px solid black
}

.logoContainer {
  flex-grow: 1.5;
}

.logoImg {
  width: 130px;
  margin-top: 24px;
}

/*
==============================================
Burger icon
==============================================
*/

.burgerIcon {
  position: absolute;
  display: block;
  right: 20px;
  z-index: 3;
  padding-right: 10px;
  cursor: pointer;
}

.barOne, .barTwo, .barThree {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.6s;
  border-radius: 10px;
}

.transform .barOne {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.transform .barTwo {
  opacity: 0;
}

.transform .barThree {
  transform: rotate(45deg) translate(-8px, -8px);
}

/*
==============================================
Mobile menu
==============================================
*/
.mobileMenu {
  margin-top: 85vh;
  width: 150px;
  height: 100vh;
  padding: 15px;
  background-color: white;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s;
}

.emailMobile {
  margin-top: 100px;
}

.catalogueMobile {
  margin-top: 15px;
  margin-bottom: 70vh;
}

.langContainer {
  display: flex;
  justify-content: center;
}

.langSvMobile {
  padding: 10px;
  border-right: 1px solid black
}

.langEngMobile {
  padding: 10px;
  border-left: 1px solid black
}

/*
==============================================
Mobile body
==============================================
*/

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s linear, transform 0.8s linear;
}

.active-image {
  position: static;
  opacity: 1;
  transform: scale(1);
}

.slide1 {
  background-image: url(https://i.pinimg.com/736x/6f/fe/99/6ffe994320b9a03aef4dab8a1045bd6c--sportscar-hd-wallpaper.jpg);
}

.slide2 {
  background-image: url(https://d3rvezpmgp265q.cloudfront.net/lexusone/lexeuenv11/2017-lexus-hybrid-portrait-lc-ready-to-perform-810x1080_tcm-3154-1157459.jpg);
}

.slide3 {
  background-image: url(https://i.pinimg.com/736x/88/3c/ca/883ccadff0c0f53ce87dd6d9e53a2c88--lamborghini-cars-lamborghini-photos.jpg);
}

.slide-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content p {
  width: 10em;
  font-size: 2em;
  color: white;
}

.buttons {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.buttons > div {
  width: 25px;
  height: 25px;
  background: #d3d3d3;
  border: 0.8px solid #8c8c8c;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.buttons > div:hover {
  background: #8c8c8c;
  border-color: #d3d3d3;
}

.buttons > .active-button {
  background-color: #8c8c8c;
  border-color: #d3d3d3;
}


/*
==============================================
Media Queries
==============================================
*/

/* Media Queries for mobile view. Portrait and landscape */
@media only screen and (max-width: 900px ) {
  .button {
    display: none;
  }

  .toggle{
    transform: none;
  }

  .navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 5px 8px 15px;
  }
}

/* Media Queries for mobile view. portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .catalogueMobile {
    margin-top: 15px;
    margin-bottom: 50vh;
  }
}

/* Media Queries for mobile view. landcape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
  .mobileMenu {
    margin-top: 75vh;
  }
  
  .catalogueMobile {
    margin-bottom: 35vh;
  } 
}

/* Media Queries for desktop view. portrait and landscape */
@media only screen and (min-width: 900px) {

}

/* Media Queries for desktop view. portrait */
@media only screen and (min-width: 600px) and (orientation: portrait){
  
}

/* Media Queries for desktop view. landscape */
@media only screen and (min-width: 900px) and (orientation: landscape){
  .burgerIcon {
    display: none;
  }

  .mobileMenu {
    display: none;
  }

  .slide {
    position: relative;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0s, transform 0s; 
  }

  .buttons {
    position: fixed;
    left: 100%;
    bottom: 50%;
    margin-bottom: -50px;
    flex-direction: column;
    height: 100px;
    width: 25px;
  }
}
